<script type="text/javascript">

  $('#logout-btn').click(() => {
    jQuery.ajax("/user/logout", {
      method: "post",

    }).done((res) => {
      window.location = "/";
    })
  })

</script>
</body>

</html>