<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <% include includes.ejs %>
  <title><%- title %></title>
</head>

<body>
  <div class="Main">
    <% include nav.ejs %>
    <div class="container">
      <div class="content">