<nav class="Navbar">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/user/dashboard">Dashboard</a></li>
    <li><a href="/log/all-reports">Reports</a></li>
    <li><a href="/user/profile">My Profile</a> </li>
    <li id="logout-btn">Logout</li>
  </ul>
</nav>