<div class="ui secondary  menu">
      <a class="active item" href="/">
        <i class="home icon"></i> Home
      </a>
      <a class="item" href="/user/dashboard">
        <i class="chart bar outline icon"></i> Dashboard
      </a>
      <a class="item">
        <i class="user icon"></i> Profile
      </a>
      <a class="item" href="/log/new">
          <i class="file alternate icon"></i> New Log
      </a>
      <div class="right menu">
        <a class="ui item" href="/user/logout">
          Logout
        </a>
      </div>
    </div>