<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
        <% include ./partials/includes %>
    </head>
<body>
<% include ./partials/navbar %>
    <div class="container">
        <h1>Error, couldn't find page <code><%=path%></code></h1>
    </div>
<% include ./partials/footer %>