<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
        <% include ./partials/includes %>
    </head>
    <body>
        <% include ./partials/navbar %>
        <h1>Error, couldn't find page</h1>
    <% include ./partials/footer %>