<html>

<head>
  <title>Dashboard</title>
  <% include ./partials/includes %>
</head>

<body>
  <% include ./partials/navbar %> <% include ./partials/flash %>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">
          <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item"><a href="/log/all">Reports</a></li>
        <li class="breadcrumb-item">
          <a href="/user/dashboard">Dashboard</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">
          <a href="/log/new">New Report</a>
        </li>
      </ol>
    </nav>
    <h1 class="title">Dashboard</h1>

    <% if(typeof(currentUser) !== "undefined") { %>
    <h3>Logged in as <code><%= currentUser.username %></code>, welcome.</h3>
    <% } else { %>
    <h3>No one logged in</h3>
    <% } %>
  </div>
  <% include ./partials/footer %>
</body>

</html>