<% include partials/header.ejs %>
<h1>Title</h1>
<% if (!currentUser) { %>
<h2>No one here</h2>
<% } else { %>
<h2><code><%= currentUser.username%></code></h2>
<div class="container-fluid">
    <div class="row">
        <div class="jumbotron col-md-6">
            <h1>Half screen</h1>
        </div>
        <div class="col-md-6">
            <form action="/log/new" method="POST">
                <h3>Create new report</h3>
                <div class="form-group">
                    <label for="title" class="text-muted">Title</label>
                    <input type="text" name="title" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="body" class="text-muted">Body</label>
                    <textarea name="body" id="body" cols="30" rows="10" class="form-control" required></textarea>
                </div>
                <div class="form-group">
                    <select name="area" id="area">
                        <option value="api">API</option>
                        <option value="database">Database</option>
                        <option value="design">Design</option>
                        <option value="front-end">Front End</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <input type="submit" class="btn btn-lg btn-primary" value="submit">
            </form>
        </div>
    </div>
</div>
<% } %>
<% include partials/footer.ejs %>