<% include partials/header.ejs %>
<h1>Update report</h1>
<form>
  <input type="text" value="<%=report.title%>" disabled>
  <textarea cols="30" rows="10" disabled><%=report.body%></textarea>
</form>
<% include partials/footer.ejs %>