<% include partials/header.ejs %>
<div class="home-text">
  <h1 class="home-title">Report System</h1>
  <p class="home-sub">Create logs and share with your team</p>
</div>
<div class="Forms">
  <form class="Form" method="POST" action="/user/login">
    <h3 class="Form-title">Login</h3><label for="login_username">Username</label><input type="text" name="username"
      id="login_username" required=""><label for="login_password">Password</label><input type="password" name="password"
      id="login_password" required=""><button type="submit">Login</button>
  </form>
  <form class="Form" method="POST" action="/user/register">
    <h3 class="Form-title">Register</h3><label for="register_username">Username</label><input type="text"
      name="username" id="register_username" required=""><label for="register_password">Password</label><input
      type="password" name="password" id="register_password" required=""><select name="option" id="option">
      <option value="admin">Admin</option>
      <option value="support">Support</option>
    </select><button type="submit">Register</button>
  </form>
</div>
</div>
</div>
</div>
<% include partials/footer.ejs %>