<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/Nav.css">
  <link rel="stylesheet" type="text/css" href="/styles.css" />
  <title>Index</title>
</head>

<body>
  <div class="Landing">
    <div class="Index_main">
      <div class="Index_main_text">
        <div class="jumbotron">
          <h1 class="heading ">Report changes in your projects and share with your team</h1>
          <a class="btn btn-md btn-primary" href="/login">Login</a>
          <a class="btn btn-md btn-warning" href="/register">Sign up</a>
        </div>
      </div>
    </div>
  </div>
  <div class="Features">
    <div class="container-fluid">
      <div class="main-container">
        <div class="Index_features">
          <div class="row">
            <div class="col-md-12">
              <div class="card-body">
                <h2>Optimize your team's workflow </h2>
                <h1><i class="fas fa-globe"></i></h1>
                <p class="card-text"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus esse officia,
                  laboriosam quasi
                  molestias
                  aliquam sequi. Optio molestias porro accusantium. </p>
              </div>
            </div>
            <div class="col-md-12">
              <div class="card-body">
                <h2>Share the changes and document your projects </h2>
                <h1><i class="fas fa-code-branch"></i></h1>
                <p class="card-text"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus esse officia,
                  laboriosam quasi
                  molestias
                  aliquam sequi. Optio molestias porro accusantium. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</body>

</html>