<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <% include ./partials/includes %>
    <title>Listing Users</title>
  </head>
  <body>
    <% include ./partials/navbar.ejs %> <% include ./partials/flash %>
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" aria-current="page">
            <a href="/">Home</a>
          </li>
          <li class="breadcrumb-item"><a href="/log/all">Reports</a></li>
          <li class="breadcrumb-item">
            <a href="/user/dashboard">Dashboard</a>
          </li>
          <li class="breadcrumb-item" aria-current="page">
            <a href="/log/new">New Report</a>
          </li>
        </ol>
      </nav>
      <h1 class="ui centered text">Listing Users</h1>
      <table class="ui celled unstackable table">
        <thead>
          <tr>
            <th>Username</th>
            <th>Role</th>
            <th>ID</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(function(user){ %>
          <tr>
            <td data-label="Username"><%- user.username %></td>
            <td data-label="Role"><%- user.role %></td>
            <td data-label="ID"><%- user._id %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <a href="/" class="ui button">Back</a>
    </div>
  </body>
</html>
