<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log System</title>
    <% include ./partials/includes %>
    <style>
        .col-md-4{
            background-color: purple;
        }
    </style>
</head>
<body>
<% include ./partials/navbar %>
    <!--table for each log-->
    <div class="container">
        <h2 class="title">Listing all logs</h2>
    </div>
<% include ./partials/footer %>    