<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log System</title>
    <% include ./partials/includes %>
</head>
<body>

<% include ./partials/navbar.ejs%>

    <div class="container">
        
        <div class="wrapper">
            
            <form action="/logs/new" method="POST" class="col-md-12">
                <h1 class="form-title"> Create a log </h1>
                    <div class="form-group">
                        <label for="LogTitle" class="form-title">Title</label>
                        <input type="text" class="form-control" id="LogTitle" name="LogTitle" placeholder="Title of the log.."
                            required>
                    </div>
                    <div class="form-group">
                        <label for="LogBody" class="form-title">Body</label>
                        <textarea name="LogBody" class="form-control" id="LogBody" placeholder="Body goes here"></textarea>
                    </div>
                    
                    <% if(users) { %>
                        <div class="form-group">
                        <label for="LogAuthor" class="form-title"> Author </label>
                        <select name="LogAuthor" class="select" id="LogAuthor">
                                <option hidden selected>Selec Author</option>
                                   <% users.forEach(function(user){ %>
                                     <option value="<%= user._id %>"><%= user.username %></option>
                                   <% }) %>
                             </select>
                        </div>
                    <% } else { %>
                       <h3>There are no users</h3>
                    <% } %>
                     <div class="form-group">
                        <label for="LogArea" class="form-title">Project Area</label>
                        <select name="LogArea" class="select" id="LogArea">
                            <option value="fend">Front End</option>
                            <option value="videsign">Visual Design</option>
                            <option value="bend">Back End</option>
                            <option value="routing">Routing</option>
                            <option value="api">API</option>
                            <option value="db">Database</option>
                        </select>
                    </div>
                    <div class="centered">
                        <button class="btn btn-md btn-success" type="submit">Submit for approval</button>
                        <a href="/" class="btn btn-md btn-danger">Back</a>
                    </div>    
            </form>
        </div>
    </div>
<% include ./partials/footer.ejs %>