<% include partials/header.ejs %>


<% if(report) { %>

<article>
  <h1><%-report.title%></h1>
  <h3>By: <%-report.author.username%></h3>
  <h3>Area:<%-report.area%></h3>

</article>

<% } else { %>

<h1>Nothing to render</h1>

<% } %>
<% include partials/footer.ejs %>