@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.App {
  text-align: center;
  font-size: 62.5%;
  /* font-family: 'Playfair Display', serif; */
}

.Main {
  background: linear-gradient(to bottom right, rgb(213, 107, 255), #edfcae);
  height: 100%;
  width: 100%;
  position: absolute;
  left:0;
  top:0;
  overflow: scroll;
} 

.Main > div {
  padding-top: 3rem;
  width: 85%;
  max-width: 100%;
  /* background: red; */
}

.Main .content {
  padding-top: 2rem;
  /* background-color: darkcyan; */
  z-index: -1000;
  margin: 0 auto;
  padding-bottom: 3rem;
  /* clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); */
}


.home-text {
  display: block;
  color: #3a3a3a;
  text-align: center;
  font-size: 1.6rem;
  padding: 0.3rem;
  /* background-color: white; */
}

.Forms {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.Forms > form:first-child {
  border-right: 1px solid black;
}

.not-authorized-alert {
  display: none;
}

.Form {
  width: 30rem;
  margin: 3rem auto;
}

.Landing{
  background-color: #ddd;
  height: 100vh;
  margin: 0;
  padding: 1rem;
  background: url(https://images.unsplash.com/photo-1565603553363-05507c434caa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80), rgba(32, 28, 28, 0.486);
  background-blend-mode: darken; 
  background-position: center;
  background-size: cover;
}

.Index_main{
  width: fit-content;
  padding: 1.2rem;
 text-align: center;
  display: block;
  margin: 3rem auto;
  font-size: 2rem;
  font-family: 'Oswald', sans-serif;
}

.Index_title{
  font-weight: 100;
  font-size: 3rem;
  margin: 0rem 3rem 3rem 3rem;
  color: #ddd;
  transition: .5s all;
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 0.3rem;
}

.Features {
  background-image: linear-gradient(to left bottom, white, teal);
  height: 70vh;
  padding-top: 3rem;
}



.main-container {
  margin: 2rem auto;
}

.card{
  border: none;
  padding: 0;
}

.single-report{
  width: 70%;
  min-width: 15rem;
  border: 0.1rem solid lavender;
  border-radius: 0.3rem;
  box-shadow: 0rem 0rem 0.1rem black;
  text-align: center;
  margin: 1rem auto;
  padding: 1rem 2rem;
}

.single-report-author {
  display: block;
  position: relative;
}

.report, .card {
  border-radius: 0.7rem;
}

.feature, .card{
  margin-bottom: 2rem;
}

.card-body {
  /* background-color: goldenrod; */
  border: 0.3rem solid;
  text-align: center;
}

.form-wrapper{
  background: white;
}