body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.App {
  text-align: center;
  font-size: 62.5%;
  /* font-family: 'Playfair Display', serif; */
}

/* .Main {
  /* background-color: salmon; */
  /* position: absolute; */
/* }  */

.Main > div {
  padding-top: 3rem;
  width: 85%;
  max-width: 100%;
  /* background: red; */
}

.Main .content {
  padding-top: 2rem;
  /* background-color: darkcyan; */
  height: 90%;
  z-index: -1000;
  margin: 0 auto;
  padding-bottom: 3rem;
  /* clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); */
}

.home-text {
  display: block;
  color: #3a3a3a;
  text-align: center;
  font-size: 1.6rem;
  padding: 0.3rem;
  /* background-color: white; */
}

.Forms {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.Forms > form:first-child {
  border-right: 1px solid black;
}

.not-authorized-alert {
  display: none;
}




.Form {
  flex-basis: 50%;
  margin: 0rem auto;
  padding: 0.5rem;
  text-align: center;
  /* background-color: aqua; */
  /* float: left; */
}

.Form .login {
  border-bottom: 2px solid blue !important;
}

.Form .register {
  border-bottom: 2px solid red !important;
}

.Form label {
  font-size: 1.2rem;
  /* background-color: purple; */
  font-size: 1.6rem;
  padding: 0.5rem;
  margin-top: 1rem;
}

.Form input {
  display: block;
  margin: 1rem auto;
  width: 13rem;
  border-radius: 0.3rem;
  /* background-color: red; */
  padding: 0.5rem;
  font-size: 1.4rem;
  transition: 0.4s all;
  border: 1px solid #3a3a3a;
  outline-color: #ccc;
  color: #3a3a3a;
}

.Form select {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
}

.Form input:focus {
  /* box-shadow: 0px 0px 10px whitesmoke; */
  outline: 2px solid orangered;
}

.Form button {
  /* font-family: 'Monserrat', sans-serif; */
  border-radius: 0.3rem;
  padding: 0.3rem 1rem;
  width: auto;
  background-color: white;
  outline: none;
  border: 1px solid gray;
  font-size: 1.6rem;
  /* box-shadow: 0rem 0.1rem 0.1rem #171717; */
  transition: 0.2s all;
}

/* .Form button:active{
    box-shadow: 0rem 0.05rem 0.01rem #171717;
} */

.Form .Form-title {
  margin-bottom: 2rem;
  margin: 0.5rem auto;
  padding: 1rem;
  width: fit-content;
  border-bottom: 1px solid dimgray;
}

@media (max-width: 930px) {
  .Forms {
    flex-direction: column;
  }
  .Forms > form:first-child {
    
    border-right: 0;
    margin-bottom: 2rem;
    
    border-bottom: 1px solid black;
  }
}
